@page
@model RazorPageGHDS.Pages.UsuariosModel
@{
    ViewData["Title"] = "Listado de usuarios";
}

<div class="container my-3">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <h2>Listado de usuarios</h2>
            <form method="post">
                <table class="table table-info table-striped border">
                    <thead>
                        <tr>
                            <th class="text-center">CodUsuario</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Dni</th>
                            <th class="text-center">Tipo</th>
                            <th class="text-center">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var usuario in Model.Usuario)
                        {
                            <tr>
                                <td class="text-center">@usuario.CodUsuario</td>
                                <td class="text-center">@usuario.Nombre</td>
                                <td class="text-center">@usuario.Dni</td>
                                <td class="text-center">@usuario.Tipo</td>
                                <td class="text-center">
                                    <a asp-page="Editar" asp-route-CodUsuario="@usuario.CodUsuario" class="btn btn-primary">Editar</a>
                                    <button asp-page-handler="Borrar" asp-route-CodUsuario="@usuario.CodUsuario" onclick="return confirm('Esta seguro de querer borrar el usuario?')"
                                            class="btn btn-danger btnsm">
                                        Borrar
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
            <div class="d-flex justify-content-center mt-4">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        @if (Model.PageNumber > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="?pageNumber=@(Model.PageNumber - 1)&pageSize=@Model.PageSize" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Anterior</span>
                                </a>
                            </li>
                        }

                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                                <a class="page-link" href="?pageNumber=@i&pageSize=@Model.PageSize">@i</a>
                            </li>
                        }

                        @if (Model.PageNumber < Model.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" href="?pageNumber=@(Model.PageNumber + 1)&pageSize=@Model.PageSize" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Siguiente</span>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
            <div>
                <div class="d-grid gap-2">
                    <a asp-page="Agregar" class="btn btn-success">Agregar</a>
                </div>
            </div>
        </div>
    </div>
</div>
